:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #121212;
    --text-color: #ffffff;
    --accent-color: #D1C4E9;
    --accent-light: #9C4DFF;
    --button-bg: #333333;
    --button-text: #D1C4E9;
    --button-hover-bg: #D1C4E9;
    --button-hover-text: #121212;
    --header-bg: var(--accent-light);
    --header-color: #121212;
    --footer-bg: #333333;
    --footer-color: #D1C4E9;
}


body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: background-color var(--transition-speed), color var(--transition-speed);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--header-bg);
    color: var(--header-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
    position: relative;
}


header h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    flex-grow: 1;
}

.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

main {
    padding: 20px;
    max-width: 800px;
    flex-grow: 1;
    margin: 0 auto;
}

h2, h3 {
    color: var(--accent-color);
    transition: color var(--transition-speed);
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color var(--transition-speed), color var(--transition-speed);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

footer a {
    color: var(--footer-color);
    text-decoration: none;
    font-weight: bold;
}

.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.theme-icon {
    transition: opacity 0.3s ease;
    position: absolute;
}

.theme-icon.hidden {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        font-size: 2em;
    }

    button#theme-toggle {
        position: relative;
        top: auto;
        transform: none;
        margin-top: 0;
    }
}